body{
  background-color: #9f4f8f
}
#logo{
  width: 75px; height: 75px;
  position: absolute;
  top: 2.5%; left: 1%;
  animation: spin 20s infinite linear;
}

ul#menu {
    position: absolute;
    left: 10%; top: 3%;
    font-family: Corbel, sans-serif;
    font-size: 20px;
    width: 90%;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul#menu a {
    background: content-box radial-gradient(#4a2d6f, #4a2d5f);
    background-color: #4a2d5f;
    border-bottom: 7px solid #98adff;
    display: block;
    text-decoration: none;
    box-shadow: 0px 0px 5px 3px rgba(125, 62, 140, 1);
    width: 23%;
    height: 60px;
    margin: 2px;
    float: left; /* elementi su singola riga */
}

ul#menu a li {
    color: #dfdfdf;
    display: block;
    font-weight: bold;
    line-height: 30px;
    position: relative;
    top: 15px; left: 15px;
    width: 150px;
    height: 30px;
}

ul#menu a.active, ul#menu a:hover {
    background: content-box radial-gradient(#98adff, #988fff);
    background-color: #98adff;
    border-bottom: 5px solid #4a2d5f;
}

footer{
  position: absolute;
  bottom: 0%; left: 0%;
  width: 100%;
  min-height: 40px;
  border: 0px;
  padding: 0px;
  background-image: linear-gradient(to bottom,  #9f4f8f 0%, #4a2d5f 100%)
}

footer p{
  text-align: center;
  font-family: Corbel, sans-serif;
  color: #dfdfdf;
}

footer a{
  text-decoration: none;
}

footer img{
  position: relative;
  align-items: center;
  width: 55px; height: 55px;
  top: 45px;
  left: 41%;
}

block p{
  font-size: 18px;
  position: relative;
  left: 2.85%;
  max-width: 95%;
}

h2, h1{
  position: relative;
  top: 2.5%; left: 3%;
}

.testo{
  font-family: Corbel, sans-serif;
  color: #4a2d5f;
  background-color: #dfdfdf;
  display: block;
  width: 1270px;
  height: auto;
  min-height: 50%;
  position: absolute;
  top: 20%; left: 8%;
  box-shadow: 0px 0px 5px 3px rgba(125, 62, 140, 1);
}

.SecList{
  font-family: Corbel, sans-serif;
  color: #dfdfdf;
  background-color: #7d3e8c;
  display: block;
  width: 150px;
  height: auto;
  min-height: 20%;
  position: relative;
  top: 20%; left: 5%;
  box-shadow: 0px 0px 5px 3px rgba(125, 62, 140, 1);
}

.testoH{
  font-family: Corbel, sans-serif;
  color: #4a2d5f;
  background-color: #dfdfdf;
  display: block;
  width: 1270px;
  height: auto;
  min-height: 20%;
  position: absolute;
  top: 70%; left: 8%;
  box-shadow: 0px 0px 5px 3px rgba(125, 62, 140, 1);
}
